$primaryColor: #222;
$secondColor: #444;

@mixin fontSize($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	color: $primaryColor;
	@include fontSize();
}

h1, h2, h3, h4, h5, h6 {
	color: $secondColor;
}

.row {
	clear: left;
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

h1 {
	@include fontSize(2.8);
	text-transform: uppercase;
	text-align: center;
}

h3 {
	span {
		margin-left: 10px;
	}
}

.list {
	margin: 0;
	padding: 0;
	li {
		width: 20%;
		float: left;
		list-style: none;
		padding: 5px 0;
	}
	input[type="checkbox"] {
		margin-right: 10px;
	}
}